%h1.title= t('.title')
= render 'form' do
  = link_to t('common.back'), students_path, class: 'button is-danger'
%hr/
.columns
  .column.is-6
    = render 'lessons'
  .column.is-6
    = render 'bonus_grades'
