%h1.title= t('.title')

= link_to t('common.new'), new_student_path, class: 'button is-primary'

%table.table.is-striped.is-hoverable
  %thead
    %tr
      %th= t('school_classes.title')
      %th= t('common.name')
      %th= t('students.seat_row')
      %th= t('students.seat_col')
      %th

  %tbody
    - @students.each do |student|
      %tr
        %td= student.school_class&.name
        %td= student.name
        %td= student.seat_row
        %td= student.seat_col
        %td
          .buttons
            = link_to t('common.show'), student_path(student), class: 'button'
            = link_to t('common.edit'), edit_student_path(student), class: 'button'
            = link_to t('common.destroy'), student, method: :delete, data: { confirm: t('common.are_you_sure') }, class: 'button is-danger'
