= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2.title= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :school_class, class: 'label'
    .control
      .select
        = f.collection_select :school_class_id, SchoolClass.all, :id, :name, prompt: true
  .field
    = f.label :text, class: 'label'
    .control
      = f.text_field :text, class: 'input'
  .actions.buttons.has-addons
    = f.submit 'Save', class: 'button is-primary'
    = yield
