= simple_form_for @click do |f|
  = f.error_notification
  = f.error_notification message: (f.error :base) if f.object.errors[:base].present?

  = f.input :device_id, autofocus: true
  = f.input :device_type

  .buttons
    = f.submit 'Save', class: 'button is-primary'
    = yield
