%h1.title= t('.title')
= link_to t('common.new'), new_click_path, class: 'button is-primary'
%table.table.is-striped.is-hoverable
  %thead
    %tr
      %th= t('devices.device')
      %th= t('devices.device_type')
      %th
  %tbody
    - @clicks.each do |click|
      %tr
        %td= click.device_id
        %td= click.device_type
        %td
          .buttons
            = link_to t('common.show'), click_path(click), class: 'button'
            = link_to t('common.edit'), edit_click_path(click), class: 'button'
            = link_to t('common.destroy'), click, method: :delete, data: { confirm: t('common.are_you_sure') }, class: 'button is-danger'
