%h1.title Clicks

%table.table.is-striped.is-hoverable
  %thead
    %tr
      %th Device
      %th Device type
      %th

  %tbody
    - @clicks.each do |click|
      %tr
        %td= click.device_id
        %td= click.device_type
        %td
          .buttons
            = link_to 'Show', click_path(click), class: 'button'
            = link_to 'Edit', edit_click_path(click), class: 'button'
            = link_to 'Destroy', click, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger'



= link_to 'New Click', new_click_path, class: 'button is-primary'
