%p
  %b #{t('devices.device')}:
  = @click.device_id
%p
  %b #{t('devices.device_type')}:
  = @click.device_type

.buttons
  = link_to t('common.edit'), edit_click_path(@click), class: 'button is-primary'
  = link_to t('common.back'), clicks_path, class: 'button'
