- current_school_class = CurrentSchoolClass.get

%header.header
  %nav.navbar.is-fixed-top.is-dark{'aria-label': 'main navigation', role: 'navigation'}
    .navbar-brand
      %a{href: root_path}
        %h4.navbar-item.title.is-4.is-marginless.has-text-white
          = Clickr
          - if current_school_class
            \- #{current_school_class.name}
            - if current_school_class.most_recent_lesson
              (#{current_school_class.most_recent_lesson&.name})
    .navbar-menu
      - if user_signed_in?
        .navbar-start
          = link_to root_path, class: "navbar-item #{'is-active' if controller_name == 'lesson_executions'}" do
            .icon
              = icon('fas', 'play')
            %div= t('.give_lesson')
          .navbar-item.has-dropdown.is-hoverable
            .navbar-link Admin
            .navbar-dropdown
              = link_to school_classes_path, class: "navbar-item #{'is-active' if controller_name == 'school_classes'}" do
                .icon
                  = icon('fas', 'users')
                .is-hidden-touch= t('.admin.school_classes')
              = link_to lessons_path, class: "navbar-item #{'is-active' if controller_name == 'lessons'}" do
                .icon
                  = icon('fas', 'paper-plane')
                %div= t('.admin.lessons')
              = link_to students_path, class: "navbar-item #{'is-active' if controller_name == 'students'}" do
                .icon
                  = icon('fas', 'user')
                %div= t('.admin.students')
              = link_to questions_path, class: "navbar-item #{'is-active' if controller_name == 'questions'}" do
                .icon
                  = icon('fas', 'question')
                %div= t('.admin.questions')
              = link_to student_device_mappings_path, class: "navbar-item #{'is-active' if controller_name == 'student_device_mappings'}" do
                .icon
                  = icon('fas', 'map-signs')
                %div= t('.admin.student_device_mappings')
              = link_to clicks_path, class: "navbar-item #{'is-active' if controller_name == 'clicks'}" do
                .icon
                  = icon('fas', 'bolt')
                %div= t('.admin.clicks')
              = link_to question_responses_path, class: "navbar-item #{'is-active' if controller_name == 'question_responses'}" do
                .icon
                  = icon('fas', 'reply')
                %div= t('.admin.question_responses')
          = yield(:navbar_links)
      .navbar-end
        - if user_signed_in?
          - if Rails.application.config.clickr.show_virtual_buttons_link_in_navbar
            = link_to buttons_path, class: "navbar-item #{'is-active' if controller_name == 'buttons'}" do
              .icon
                = icon('fas', 'bolt')
              %div= t('.buttons')
          .navbar-item.has-dropdown.is-hoverable.is-right
            %a.navbar-link
              = current_school_class&.name || t('.select_a_class')
            .navbar-dropdown
              = link_to new_school_class_path(redirect_to: :lesson_execution), class: 'navbar-item', title: t('layouts.header.create_new_class') do
                %i.fa.fa-plus-circle
              - SchoolClass.all.each do |school_class|
                = link_to school_class.name, current_school_classes_path(current_school_class: { school_class_id: school_class.id }), method: :put, remote: true, class: 'navbar-item'
          .navbar-item
            = link_to t('common.log_out'), destroy_user_session_path, method: :delete, class: 'button is-light'
        - else
          .navbar-item
            .buttons
              = link_to t('common.sign_up'), new_user_registration_path, class: 'button is-primary'
              = link_to t('common.log_in'), new_user_session_path, class: 'button is-light'
