= form_with model: @school_class, local: true do |f|
  = render "layouts/error_messages", f: f

  = f.text_field_with_label :name, autofocus: true

  .buttons
    = f.submit_primary 'Save'
    = yield
