-# https://johnbeatty.co/2018/03/09/stimulus-js-tutorial-how-do-i-drag-and-drop-items-in-a-list/
.grid--draggable{ 'data-controller': 'seating-plan',
                  'data-seating-plan-endpoint': seating_plan_school_class_path(school_class),
                  'data-action': 'dragstart->seating-plan#onDragStart dragover->seating-plan#onDragOver dragenter->seating-plan#onDragEnter drop->seating-plan#onDrop dragend->seating-plan#onDragEnd' }
  - school_class.seating_plan[:seats].each_with_index do |seat, i|
    - if seat[:is_empty]
      .grid__item.grid__item--empty{ 'data-row': seat[:row],
                                     'data-col': seat[:col],
                                     'tabindex': i,
                                     onmousedown: 'setTimeout(() => this.querySelector("input[type=text]").focus(), 0)',
                                     style: "grid-row: #{seat[:row]}; grid-column: #{seat[:col]};",
                                     class: ('grid__item--border' if seat[:is_border]) }
        .create-student
          = form_with model: Student.new, local: true do |f|
            = f.text_field_with_label :name
            = f.hidden_field :school_class_id, value: school_class.id
            = f.hidden_field :seat_row, value: seat[:row] + school_class.seating_plan[:row_offset]
            = f.hidden_field :seat_col, value: seat[:col] + school_class.seating_plan[:col_offset]
            = f.hidden_field :create_incomplete_mapping, value: true
            = f.hidden_field :redirect_back, value: true
            = f.submit_primary t('common.save')
    - else
      .grid__item{ draggable: 'true',
                  'data-item-id': seat[:student].id,
                  'data-row': seat[:row],
                  'data-col': seat[:col],
                  style: "grid-row: #{seat[:row]}; grid-column: #{seat[:col]};" }
        .card
          .card-content
            %p.title.has-text-centered= seat[:student].name
          %footer.card-footer
            %p.card-footer-item.has-text-weight-bold
              -# TODO Add sum
              4
            %p.card-footer-item.has-text-grey
              -# TODO Add sum
              10
