%h1.title= t('.title')

= link_to t('common.new'), new_school_class_path, class: 'button is-primary'

%table.table.is-striped.is-hoverable
  %thead
    %tr
      %th= t('common.name')
      %th

  %tbody
    - @school_classes.each do |school_class|
      %tr
        %td= school_class.name
        %td
          .buttons
            = link_to t('common.show'), school_class_path(school_class), class: 'button'
            = link_to t('common.edit'), edit_school_class_path(school_class), class: 'button'
            = link_to t('common.select'), users_school_class_path(school_class_id: school_class.id), method: :put, remote: true, class: 'button'
            = link_to t('common.destroy'), school_class, method: :delete, data: { confirm: t('common.are_you_sure') }, class: 'button is-danger'
