%p
  %b= "#{t('students.title')}:"
  = @bonus_grade.student&.name
%p
  %b= "#{t('school_classes.title')}:"
  = @bonus_grade.school_class&.name
%p
  %b= "#{t('bonus_grades.percentage')}:"
  = number_to_percentage(100.0 * @bonus_grade.percentage, precision: 0)
.buttons
  = link_to t('common.edit'), edit_bonus_grade_path(@bonus_grade), class: 'button is-primary'
  = link_to t('common.back'), bonus_grades_path, class: 'button'
