= form_for @student do |f|
  - if @student.errors.any?
    #error_explanation
      %h2.title= "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
      %ul
        - @student.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :school_class_id, class: 'label'
    .control
      .select
        = f.collection_select :school_class_id, SchoolClass.all, :id, :name, prompt: true
  .field
    = f.label :name, class: 'label'
    .control
      = f.text_field :name, class: 'input'
  .field
    = f.label :seat_row, class: 'label'
    .control
      = f.number_field :seat_row, class: 'input'
  .field
    = f.label :seat_col, class: 'label'
    .control
      = f.number_field :seat_col, class: 'input'
  .actions.buttons
    = f.submit 'Save', class: 'button is-primary'
    = yield