%h1.title Listing students

%table.table.is-striped.is-hoverable
  %thead
    %tr
      %th School class
      %th Name
      %th Seat row
      %th Seat col
      %th

  %tbody
    - @students.each do |student|
      %tr
        %td= student.school_class&.name
        %td= student.name
        %td= student.seat_row
        %td= student.seat_col
        %td.buttons.has-addons
          = link_to 'Show', student, class: 'button'
          = link_to 'Edit', edit_student_path(student), class: 'button'
          = link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger'

%br

= link_to 'New Student', new_student_path, class: 'button is-primary'
