%p#notice= notice

%p
  %b School class:
  = @student.school_class&.name
%p
  %b Name:
  = @student.name
%p
  %b Seat row:
  = @student.seat_row
%p
  %b Seat col:
  = @student.seat_col

.buttons.has-addons
  = link_to 'Edit', edit_student_path(@student), class: 'button is-primary'
  = link_to 'Back', students_path, class: 'button'
