%h2.title Forgot your password?
= form_with model:(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render 'devise/shared/error_messages', resource: resource
  .field
    = f.label :email, class: 'label'
    .control
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input'
  .actions.buttons
    = f.submit 'Send me reset password instructions', class: 'button is-primary'
    = render 'devise/shared/links'
