- content_for :container_css_class, 'is-fluid'
- benchmark_min = 1
- benchmark_max = @benchmark_max || 10
- benchmark = @lesson.benchmark
%div{ data: { controller: 'lesson-evaluation', 'lesson-evaluation-endpoint': update_benchmark_lesson_evaluate_path(@lesson) }}
  .panel
    .panel-heading
      %h3.title.is-size-4
        = "#{t('.title', lesson_name: @lesson&.name)} (#{@school_class&.name})"
      .field
        .select
          .control
            = collection_select :lesson, :id, @school_class.lessons.newest_first, :id, :name, {}, onchange: "Turbolinks.visit('/lessons/' + this.value + '/evaluate')"
    .panel-block
      .field
        %label.label= t('lesson_evaluations.show.benchmark_label')
        .control
          = benchmark_min
          = range_field_tag :benchmark, benchmark, min: benchmark_min, max: benchmark_max, step: 0.01, autocomplete: 'off', data: { action: 'change->lesson-evaluation#onBenchmarkChanged input->lesson-evaluation#onBenchmarkDragged' }
          = benchmark_max
          .tag.is-info.is-large#benchmark{ data: { target: 'lesson-evaluation.benchmarkLabel' } }
            = benchmark
          .tag.is-success.is-large#average{ data: { target: 'lesson-evaluation.averageLabel' }, title: t('.average_percentage_hint') }
            = number_to_percentage(100.0 * @evaluation.average_percentage, precision: 0)
  = render 'seating_plans/seating_plan', school_class: @school_class, seating_plan: @seating_plan, context: 'lesson_evaluation', lesson: @lesson
