= simple_form_for @question_response do |f|
  = f.error_notification
  = f.error_notification message: (f.error :base) if f.object.errors[:base].present?

  = f.association :click, autofocus: true
  = f.association :student
  = f.association :question
  = f.association :lesson
  = f.association :school_class

  .buttons
    = f.submit 'Save', class: 'button is-primary'
    = yield
