%p
  %b Click:
  = @question_response.click_id
%p
  %b Student:
  = @question_response.student&.name
%p
  %b Question:
  = @question_response.question&.name
%p
  %b Lesson:
  = @question_response.lesson&.name
%p
  %b Class:
  = @question_response.school_class&.name

.buttons
  = link_to 'Edit', edit_question_response_path(@question_response), class: 'button is-primary'
  = link_to 'Back', question_responses_path, class: 'button'
