%h1.title Lessons

%table.table.is-striped.is-hoverable
  %thead
    %tr
      %th Title
      %th School class
      %th

  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.name
        %td= lesson.school_class&.name
        %td
          .buttons
            = link_to 'Show', lessons_path, class: 'button'
            = link_to 'Edit', edit_lesson_path(lesson), class: 'button'
            = link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger'


= link_to 'New Lesson', new_lesson_path, class: 'button is-primary'
