%h1.title= t('.title')

= link_to t('common.new'), new_lesson_path, class: 'button is-primary'

%table.table.is-striped.is-hoverable
  %thead
    %tr
      %th= t('common.name')
      %th= t('school_classes.title')
      %th

  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.name
        %td= lesson.school_class&.name
        %td
          .buttons
            = link_to t('common.show'), lesson_path(lesson), class: 'button'
            = link_to t('common.edit'), edit_lesson_path(lesson), class: 'button'
            = link_to t('common.destroy'), lesson, method: :delete, data: { confirm: t('common.are_you_sure') }, class: 'button is-danger'
