%p
  %b #{t('common.name')}:
  = @lesson.name
%p
  %b #{t('school_classes.title')}:
  = @lesson.school_class&.name

.buttons
  = link_to t('common.edit'), edit_lesson_path(@lesson), class: 'button is-primary'
  = link_to t('common.back'), lessons_path, class: 'button'
