= simple_form_for @student_device_mapping do |f|
  = f.error_notification
  = f.error_notification message: (f.error :base) if f.object.errors[:base].present?

  = f.association :student, autofocus: true
  = f.association :school_class, autofocus: true
  = f.input :device_id
  = f.input :device_type

  .buttons
    = f.submit 'Save', class: 'button is-primary'
    = yield
