%p
  %b Student:
  = @student_device_mapping.student&.name
%p
  %b School class:
  = @student_device_mapping.school_class&.name
%p
  %b Device:
  = @student_device_mapping.device_id
%p
  %b Device type:
  = @student_device_mapping.device_type

.buttons
  = link_to 'Edit', edit_student_device_mapping_path(@student_device_mapping), class: 'button is-primary'
  = link_to 'Back', student_device_mappings_path, class: 'button'
