-# TODO Optimize performance: calcuate once for all students (fetch all lesson sums at once)
- grade = Clickr::StudentGrade.new(student)

.seat--student{ style: "grid-row: #{row - row_offset_to_base_1}; grid-column: #{col - col_offset_to_base_1};" }
  .card
    .card-content
      = link_to edit_student_path(student) do
        %p.title.is-4.has-text-centered= student.name
    %footer.card-footer
      %p.card-footer-item.is-size-4.has-text-weight-bold.has-cursor-help{title: t('.lesson_grade')}= Clickr::Grade.from_percentage(student.question_response_percentage_for(lesson: @lesson))
      %p.card-footer-item.is-size-4.has-text-grey.has-cursor-help{title: t('.overall_percent', explanation: grade.explanation)}=  number_to_percentage(100.0 * grade.percentage, precision: 0)
