= simple_form_for @question do |f|
  = f.error_notification
  = f.error_notification message: (f.error :base) if f.object.errors[:base].present?

  = f.association :school_class, autofocus: true
  = f.input :name

  .buttons
    = f.submit 'Save', class: 'button is-primary'
    = yield
