%h1.title= t('.title')
= link_to t('common.new'), new_question_path, class: 'button is-primary'
%table.table.is-striped.is-hoverable
  %thead
    %tr
      %th= t('school_classes.title')
      %th= t('common.name')
      %th= t('lessons.title')
      %th
  %tbody
    - @questions.each do |question|
      %tr
        %td= question.school_class&.name
        %td= question.name
        %td= question.lesson&.name
        %td
          .buttons
            = link_to t('common.show'), question_path(question), class: 'button'
            = link_to t('common.edit'), edit_question_path(question), class: 'button'
            = link_to t('common.destroy'), question, method: :delete, data: { confirm: t('common.are_you_sure') }, class: 'button is-danger'
