%h1.title Questions

%table.table.is-striped.is-hoverable
  %thead
    %tr
      %th School class
      %th Text
      %th Lesson
      %th

  %tbody
    - @questions.each do |question|
      %tr
        %td= question.school_class&.name
        %td= question.name
        %td= question.lesson&.name
        %td
          .buttons
            = link_to 'Show', questions_path, class: 'button'
            = link_to 'Edit', edit_question_path(question), class: 'button'
            = link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger'


= link_to 'New Question', new_question_path, class: 'button is-primary'
