%h2.title Forgot your password?
= simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f|
  = f.error_notification
  = f.error_notification message: (f.error :base) if f.object.errors[:base].present?

  = f.input :email, autofocus: true, autocomplete: 'email'

  .buttons
    = f.submit 'Send me reset password instructions', class: 'button is-primary'
    = render 'devise/shared/links'
