%h2.title Log in
= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
  = f.error_notification
  = f.error_notification message: (f.error :base) if f.object.errors[:base].present?

  = f.input :email, autofocus: true, autocomplete: 'email'
  = f.input :password, autocomplete: 'current-password'
  - if devise_mapping.rememberable?
    = f.input :remember_me, as: :boolean

  .buttons
    = f.submit 'Log in', class: 'button is-primary'
    = render 'devise/shared/links'
