%h2.title Sign up
= simple_form_for resource, as: resource_name, url: registration_path(resource_name)do |f|
  = f.error_notification
  = f.error_notification message: (f.error :base) if f.object.errors[:base].present?

  = f.input :email, autofocus: true, autocomplete: 'email'
  = f.input :password, autocomplete: 'new-password'
  = f.input :password_confirmation, autocomplete: 'new-password'

  .buttons
    = f.submit 'Sign up', class: 'button is-primary'
    = render "devise/shared/links"
