%h1.title Lesson execution

- if @suggest_creating_new_lesson
  .section
    .notification.is-warning
      The last lesson seems to be quite old.
      Do you want to create a new one?

      =# TODO reload current page (either via ajax handler or by evaluating hidden field in controller)
      = form_with model: Lesson.new, format: :json do |f|
        = f.hidden_field :redirect_to_previous_page, value: true
        .field
          .control
            = f.text_field :title, class: 'input', value: "#{@school_class.name} - #{I18n.l Date.today, format: :short}"
        .actions.buttons
          = f.submit 'Create lesson', class: 'button is-primary'
          = yield
