- content_for :container_css_class, 'is-fluid'
- content_for :navbar_links do
  = link_to root_path(edit_seating_plan: !@edit), class: 'navbar-item' do
    .icon
      = icon('fas', 'edit')
    %span= t(@edit ? '.done_editing_seating_plan' : '.edit_seating_plan')
  = link_to lesson_evaluate_path(@lesson), class: 'navbar-item' do
    .icon
      = icon('fas', 'chart-bar')
    %span= t('.evaluate_lesson')
  %a.navbar-item#rollTheDiceButton
    .icon
      = icon('fas', 'dice')
    %span= t('.select_a_student')
- if @question&.response_allowed?
  - content_for :main_css_class, 'question--active'
- if @suggest_creating_new_lesson
  .notification.is-warning
    = t('.create_new_lesson_text')
    -# TODO Show potential errors on this page
    = form_with model: Lesson.new, local: true, class: 'is-flex' do |f|
      .field.is-horizontal
        .field-body
          = f.text_field :name, value: "#{@school_class.name} - #{I18n.l Date.today, format: :short}", class: 'is-medium'
          = hidden_field :redirect_back, true
          = f.submit_primary t('.create_new_lesson_submit'), class: 'is-medium'
.panel
  .panel-heading
    - if @question&.response_allowed?
      = form_with scope: :question, url: stop_question_path(@question), method: :post, local: true do |f|
        = hidden_field :redirect_back, true
        .field.is-horizontal
          .field-body
            .field
              .title= @question.name
            %button.button.is-primary.is-medium{ type: 'submit' }
              %span.icon.is-small
                %i.fas.fa-stop
              %span= t('.stop_question_submit')
    - else
      -# TODO Show potential errors on this page
      = form_with model: Question.new, local: true do |f|
        = hidden_field :redirect_back, true
        = hidden_field_tag :browser_window_id, @browser_window_id
        .score-input{ data: { controller: 'score-input' } }
          .field.is-horizontal
            .field-body
              = f.text_field :name, value: @default_question_name, class: 'is-medium'
              .field.has-addons{ title: 'Question score' }
                .control
                  %button.field.button.is-medium{ type: 'button', data: { action: 'click->score-input#decrement', target: 'score-input.decrement' } }
                    -
                = f.text_field :score, value: 1, size: 1, no_field: true, class: 'is-medium has-addons score-input__field has-cursor-help', data: { target: 'score-input.field' }
                .control
                  %button.field.button.is-medium{ type: 'button', data: { action: 'click->score-input#increment' } }
                    +
              %button.button.is-primary.is-medium{ type: 'submit' }
                %span.icon.is-small
                  %i.fas.fa-play
                %span= t('.ask_question_submit')
= render 'seating_plans/seating_plan', school_class: @school_class, seating_plan: @seating_plan, edit: @edit, browser_window_id: @browser_window_id
